html,body{
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#maker{
    display:inline-block;
    margin: auto;
    padding: 50px;
}

#title{
    text-align: center;
    font-size: 20px;
}

#play{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 25px;
}

#container{
    display:inline-block;
    margin: auto;
}

.rangeContainer{
    display: flex;
    height: 110px;
}

.rangeContainer input{
    transform: rotate(-90deg);
    width: 100px;
}

input[type=range]{
    -webkit-appearance: none;
    background: none;
    outline: none;
}

:root{
    --thumb_box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
    --thumb_border: 1px solid #000000;
    --thumb_height: 37px;
    --thumb_width: 37px;
    --thumb_border-radius: 3px;
    --thumb_cursor: pointer;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    box-shadow: var(--thumb_box-shadow);
    border: var(--thumb_border);
    height: var(--thumb_height);
    width: var(--thumb_width);
    border-radius: var(--thumb_border-radius);
    cursor: var(--thumb_cursor);
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    box-shadow: var(--thumb_box-shadow);
    border: var(--thumb_border);
    height: var(--thumb_height);
    width: var(--thumb_width);
    border-radius: var(--thumb_border-radius);
    cursor: var(--thumb_cursor);
}

input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    box-shadow: var(--thumb_box-shadow);
    border: var(--thumb_border);
    height: var(--thumb_height);
    width: var(--thumb_width);
    border-radius: var(--thumb_border-radius);
    cursor: var(--thumb_cursor);
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    html {
      transform: rotate(90deg);
    }

    .rangeContainer input{
        width: 62px;
    }
  }